* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #333333;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.textwhite {
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.textcenter {
  text-align: center;
}

.textbox{
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} 